<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/base.css">
</head>
<body>
	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Contact</a></li>
	</ul>
	<ol>
		<li>My first object</li>
		<li>My second object</li>
		<li>My third object</li>
	</ol>
	<li>
		<a id="b" href="#">Бегзад</a>
	</li>
	<li>
		<a class="a" href="#">Артур</a>
	</li>
	<p>
		HTML
	</p>
	<div>
		<h1>Hello</h1>
		<p>World</p>
	</div>
</body>
</html>