<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My first web app</title>
</head>
<body style="background-color: rgba(255,191,0,0.94)">
    <h1 style="color: rgb(100,150,200)">
        <b>Привет HTML!</b>
    </h1>
    <h2 style="font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace">
        <i>Еще один файл!</i>
    </h2>
    <h3 style="background-color: brown">
        <s>Еще один файл!</s>
    </h3>
    <h4>
        <u>Еще один файл!</u>
    </h4>
    <h5>
        Еще один файл!
    </h5>
    <h6>
        Еще один файл!
    </h6>
    <p>jfkjgkfjgkfdjgkfj</p>
    <p>
        Чтобы посмотреть нажимайте
        <a href="https://www.python.org/">
            сюда
        </a>
    </p>
    <img src="../static/img/1.jpg" alt="Здесь был фото" width="1080" height="720">
    <iframe src="">

    </iframe>
    <p>
        <a href="./about.html">
            About
        </a>
    </p>
</body>
</html>
