{% extends 'base.html' %}

{% block content %}
    {% for app in apps %}
        <div class="card container text-center py-3 m-3" style="width: 30%;">
          <div class="card-body">
            <h5 class="card-title">{{app.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Presence: </h6>
            {% if app.stock == True %}
                <p class="card-text">Yes</p>
            {% endif %}
            {% if app.stock == False %}
                <p class="card-text">No</p>
            {% endif %}
            <a href="/app/{{app.id}}/" class="card-link">About</a>
          </div>
        </div>
    {% endfor %}
{% endblock %}