<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="base.css">
</head>
<body>
    <h1 align="center">
        <b>
            Tleubaev Shakhrookhkhan
        </b>
    </h1>
    <h6 align="center">
        <tt>
            tleubaevshaxrux@outlook.com
        </tt>
    </h6>
    <h4 align="center" style="font-style: arial black">
        <p>
            I am Tleubaev Shakhrookhkhan Jabbarovich. 
            I am 16 years old, studying  10 th grade 
            in №37 Pushkin school.  
        <p>
    </h4>
    <ol>
        <li>
            <b>
                About me.
            </b>
            I am maybe just ordinary boy as other teenagers, but
            i have my own aims and purposes to reach my dreams.
            So because of my aims,
            <i>
                i am writing about me
                in this page)
            </i>
        </li>
        <li>
            <b>
                Capabilities. 
            </b>
            I dont have so big amount of capabilities, but i have some in computer knowledge:
            <ul style="list-style-type:circle;">
                <li>Python</li>
                <li>Using computer</li>
                <li>Solving computer bugs</li>
                <li>Knowledge about how works the pc (his technical things)</li>
            </ul>
        </li>
        <li>
            <b>
                Interests.
            </b>
            So, i just interested in Programming)
        </li>
    </ol>
    <h6>Last updated on 21.10.2022 16:02</h6>
</body>
</html>