<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(87, 87, 87)">
    <h1 align="center">
        <img src="../static/img/boyy.jpg" alt="", width="300">
        <p>
            The boy with big aims
        </p>
    </h1>
    <h1 align="center">
        My name is Shaxruxxan, surname Tleubaev.
    </h1>
    <h3 align="center">
        I am 16 years old boy, and i am learning to the programming, because i really like it)
    </h3>
    <h5 style="color: rgb(100, 200, 100)">
        Contact:
        <a href="https://instagram.com/shaxruxtleubaev?igshid=YmMyMTA2M2Y=">
            <p style="color: cyan">
                Instagram
            </p>
        </a>
        <a href="https://github.com/shaxruxtleubaev">
            <p style="color: cyan">
                GitHub
            </p>
        </a>
    </h6>
    <ol> <li>Shaxrux </li> <li>Shax </li> <li>Shaxruxxan </li> </ol>
    <br style="color: black">dasd
    <hr>aaa

    <iframe src="../static/img/I_am_ghoul.mp4" frameborder="0"> 
        <!--
            Uaxey
        -->
    </iframe>

    
</body>
</html>