<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My first web app</title>
</head>
<body style="background-color: rgb(77, 77, 77)">
	<h1 style="color: cyan">
		<b>Привет HTML</b>
	</h1>
	<h2>
		<i>Еще один файл</i>
	</h2>
	<h3 style="background-color: cyan">
		<s>еще </s>	
	</h3>
	<h4 style="text-decoration: charthouse">
		<u>ещее аа</u>		
	</h4>
	<h5>
		уеее
	</h5>
	<h6>
		yuxu
	</h6>
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, ea? Earum quo soluta explicabo minima veritatis, totam voluptate at commodi nisi qui officiis reprehenderit modi? Alias ut odit natus veritatis! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe tempore eligendi ab, ratione, voluptatibus commodi nesciunt tempora temporibus molestiae ullam in! Pariatur quibusdam beatae similique, fugit cum facere earum id.
	</p>
	<p>
		Чтобы посмотреть 
		<a href="https://www.youtube.com/">Сюда</a>
		<img src="../static/img/4k_walp.jpg" alt="", width="480px" height="360">
		<iframe src="" frameborder="0"></iframe>
	</p>
</body>
</html>