<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <div id="page">
        <div id="logo"></div>
        <ul id="navigation"> 
            <li><a class="on" href="#">Домой</a></li>
            <li><a href="../templates/contacts.html">Контакты</a></li>
            <li><a href="../templates/content.html">Контент</a></li>
            <li><a href="../templates/autor.html">Авторы</a></li>
        </ul>
        <p>
            <img class="futball" src="../static/img/sport.jpg" alt="Futbol">
        </p>
        <p class="content">
            What is Sport? In practical terms 'sport' is defined by its social interpretation as well as its strong association with physical exertion and performance measures. What we perceive as 'sport' in one instance may not be in another; sport takes on many forms and is constantly changing based upon societal norms, trends, and new directions.
        </p>
    </div>
</body>
</html>