<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <div id="page">
        <div id="logo"></div>
        <ul id="navigation"> 
            <li><a href="../templates/base.html">Домой</a></li>
            <li><a class="on" href="#">Контакты</a></li>
            <li><a href="../templates/content.html">Контент</a></li>
            <li><a href="../templates/autor.html">Авторы</a></li>
        </ul>
        <ul>
            <li><a href="https://instagram.com/shaxruxtleubaev?igshid=YmMyMTA2M2Y=">Instagram</a></li>
            <li><a href="https://t.me/shaxruxtleubaev1">Telegram</a></li>
            <li><a href="https://github.com/shaxruxtleubaev">GitHub</a></li>
        </ul>
    </div>
</body>
</html>