<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <div id="page">
        <div id="logo"></div>
        <ul id="navigation"> 
            <li><a href="../templates/base.html">Домой</a></li>
            <li><a href="../templates/contacts.html">Контакты</a></li>
            <li><a class="on" href="#">Контент</a></li>
            <li><a href="../templates/autor.html">Авторы</a></li>
        </ul>
    </div>
    <div class='box'>
        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
    </div>
      
</body>
</html>