<div id="navbar">
    <a id="logo" onclick="openNav()">
        <div class="divv"></div>
        <div class="divv"></div>
        <div class="divv"></div>
    </a>
    <div id="navbar-right">
      <a class="active" href="">Sign Up</a>
      <a href="">Log in</a>
      <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="badge">0</span></a>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="color: white;">&times;</a>
        <a href="#" style="color: white;">About</a>
        <a href="#" style="color: white;">Services</a>
        <a href="#" style="color: white;">Clients</a>
        <a href="#" style="color: white;">Contact</a>
    </div>
</div>