{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <h1>Обьявления</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'create' %}">Добавить</a>
        {% for rubric in rubrics %}
            <a href="/lead/{{ rubric.pk }}">{{ rubric.name }}</a>
        {% endfor %}
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>