{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
	User change field
{% endblock title %}

{% block content %}
    <h1>User Change Form </h1>
    <p>In order to alter your password you should fill the field</p>
    <form method="post">
        <table>
            {{ form|crispy }}
            {% csrf_token %}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Sign up"></td>
            </tr>
        </table>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock content %}