<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>n</title>
    <link rel="stylesheet" href="../satic/base.css">
</head>
<body>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
    </ul>
    <ul>
        <li>My 1th obj</li>
        <li>My 2th obj</li>
        <li>My 3th obj</li>
    </ul>
    <ol>
        <li>My 1th obj</li>
        <li>My 2th obj</li>
        <li>My 3th obj</li>
    </ol>
    <li><a id="b" href="#">Бегзад</a></li>
    <li><a class="a" href="#">Артур</a></li>  
    <p>
        HTML
    </p>  
    <div>
        <p>The story</p>
        <p>story was wirtten by Nawriz</p> 
    </div>
    <div>
        Shaxrux
    </div>
</body>
</html>