<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="../satic/claswork.css">
</head>
<body>
    <h1>
        Site
    </h1>
    <p class="p1">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, earum nemo laboriosam quia aperiam similique quae minus labore nisi unde consequuntur numquam expedita eaque ad, dignissimos, modi maiores in quod?
    </p>
    <p class="p2">
        22_10_2022 15:34
    </p>
</body>
</html>